---
import Layout from '../layouts/Layout.astro';
import MainVisual from '../components/MainVisual.astro'
import Hospitality from '../components/Hospitality.astro'
import Conversion01 from '../components/Conversion01.astro'
import BridalFair from '../components/BridalFair.astro'
import Cuisine from '../components/Cuisine.astro'
import Conversion02 from '../components/Conversion02.astro'
import Ceremony from '../components/Ceremony.astro'
import Conversion03 from '../components/Conversion03.astro'
import Voice from '../components/Voice.astro'

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'


import '../styles/reset.scss';
import '../styles/common.scss';

const rutePath = '/chinzansou';

---

<Layout title="椿山荘">
	<Header rutePath={rutePath}/>
	<main>
		<MainVisual rutePath={rutePath}/>
		<Hospitality  rutePath={rutePath} />
		<Conversion01  rutePath={rutePath} />
		<BridalFair  rutePath={rutePath} />
		<Conversion02  rutePath={rutePath} />
		<Ceremony  rutePath={rutePath} />
		<Conversion03  rutePath={rutePath} />
		<Voice  rutePath={rutePath} />
	</main>
	<Footer rutePath={rutePath}/>


</Layout>


<script>

</script>


<style lang="scss">


</style>
