---
import Layout from '../layouts/Layout.astro';
import MainVisual from '../components/MainVisual.astro'
import Hospitality from '../components/Hospitality.astro'
import Conversion01 from '../components/Conversion01.astro'
import BridalFair from '../components/BridalFair.astro'
import Cuisine from '../components/Cuisine.astro'
import Conversion02 from '../components/Conversion02.astro'
import Ceremony from '../components/Ceremony.astro'
import Conversion03 from '../components/Conversion03.astro'
import Voice from '../components/Voice.astro'

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'


import '../styles/reset.scss';
import '../styles/common.scss';

const rutePath = '.';

---

<Layout title="椿山荘">
	<Header rutePath={rutePath}/>
	<main>
		<MainVisual rutePath={rutePath}/>
		<Hospitality  rutePath={rutePath} />
		<Conversion01  rutePath={rutePath} />
		<BridalFair  rutePath={rutePath} />
		<Conversion02  rutePath={rutePath} />
		<Ceremony  rutePath={rutePath} />
		<Conversion03  rutePath={rutePath} />
		<Voice  rutePath={rutePath} />
	</main>
	<Footer rutePath={rutePath}/>


</Layout>


<style lang="scss">
@use '../styles/variables.scss' as v;
.slider-sp{
    @include v.mq(sm){
        display: block;
        .images__item{
            // 左右に10pxのmargin
            margin: 0 10px;
            
        }
    }
}
</style>

<script is:inline>
$(function(){

	// windowサイズが600px以下の場合
	if (window.matchMedia('(max-width: 640px)').matches) {
		// slick
		$('.slider-sp').slick({
			autoplay: true,
			autoplaySpeed: 3000,
			dots: true,
			arrows: false,
			speed: 1000,
			
		});
	}

});
</script>