---
import Layout from '../layouts/Layout.astro';
import MainVisual from '../components/MainVisual.astro'
import Hospitality from '../components/Hospitality.astro'
import Conversion01 from '../components/Conversion01.astro'
import BridalFair from '../components/BridalFair.astro'
import Cuisine from '../components/Cuisine.astro'
import Conversion02 from '../components/Conversion02.astro'
import Ceremony from '../components/Ceremony.astro'
import Conversion03 from '../components/Conversion03.astro'
import Voice from '../components/Voice.astro'

import '../styles/reset.scss';
import '../styles/common.scss';

const rutePath = '/chinzansou';

---

<Layout title="椿山荘">
	<header>
		
	</header>
	<main>
		<MainVisual rutePath={rutePath}/>
		<Hospitality  rutePath={rutePath} />
		<Conversion01  rutePath={rutePath} />
		<BridalFair  rutePath={rutePath} />
		<Conversion02  rutePath={rutePath} />
		<Ceremony  rutePath={rutePath} />
		<Conversion03  rutePath={rutePath} />
		<Voice  rutePath={rutePath} />
	</main>
	<footer>
		<script src="https://kit.fontawesome.com/6d24b21b1e.js"></script>
	</footer>
</Layout>


<script>

</script>


<style lang="scss">


</style>
